<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia | contact</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
</head>
<body class="contact">
    <header class="header--horizontal">
        <nav class="header--horizontal-menu">
            <ul>
                <li><a href="/">| Home |</a></li>
                <li><a href="/about">About |</a></li>
                <li><a href="/music">Music |</a></li>
                <li><a href="/contact">Contact |</a></li>
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </nav>
    </header>
    <main>
        <h1>Contact //</h1>
        <section>
        <h4>WE ARE HERE</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d317718.69308763434!2d-0.3817765!3d51.528308!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses!2sar!4v1687185655759!5m2!1ses!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <h4>CONTACT INFO</h4>
            <article>
                <h5>MANAGEMENNT | Karen Blanche</h5>
                <p><b>email</b> info@mysite.com</p>
                <p><b>phone:</b> 123-456-7890</p>
            </article>
            <article>
                <h5>BOOKING | Daniel Ku</h5>
                <p><b>email</b> info@mysite.com</p>
                <p><b>phone:</b> 123-456-7890</p>
            </article>
            <article>
                <h5>LABEL | Wix Records, Jake Coldham</h5>
                <p><b>email</b> info@mysite.com</p>
                <p><b>phone:</b> 123-456-7890</p>
            </article>
            <article>
                <h5>PR | That Girl Pr, Sarah Brookstone</h5>
                <p><b>email</b> info@mysite.com</p>
                <p><b>phone:</b> 123-456-7890</p>
            </article>
    </section>
    </main>
</body>
</html>