.contact h4 {
    font-weight: 700;
    font-size: 22px;
    font-family: var(--tipografiaTitulos);
}

.contact main section iframe {
    width: 600px;
    height: 450px;
    width: 100%;
    border-style: none;
}

.contact h5 {
    font-family: var(--tipografiaTitulos);
    color: var(--colorVerde);
    font-size: 16px;
}

.contact p {
    opacity: 0.8;
    line-height: 10px;
}